00_Datasets/French_firms/population.csv
00_Datasets/Recruit/store_id_relation.csv
00_Datasets/Recruit/sample_submission.csv
00_Datasets/Recruit/hpg_store_info.csv
00_Datasets/Recruit/hpg_reserve.csv
00_Datasets/Recruit/date_info.csv
00_Datasets/Recruit/air_visit_data.csv
00_Datasets/Recruit/air_store_info.csv
00_Datasets/Recruit/air_reserve.csv
TensorFlow Tutorial/data/MNIST/train-labels-idx1-ubyte.gz
TensorFlow Tutorial/data/MNIST/train-images-idx3-ubyte.gz
TensorFlow Tutorial/data/MNIST/t10k-labels-idx1-ubyte.gz
TensorFlow Tutorial/data/MNIST/t10k-images-idx3-ubyte.gz
00_Datasets/Fashion_Mnist/fashion-mnist_test.csv
00_Datasets/Fashion_Mnist/fashion-mnist_train.csv
00_Datasets/YouTube/
